.calculator {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}

input[type="button"] {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #ccc;
}
